* {
    overflow-x: hidden;
}


.trapezoid {
    margin-top: 10px;
    display: flex;
    width: 100%;
    height: 100vh; /* Adjust the height as needed */
    clip-path: polygon(100% 0, 100% 100%, 0 90%, 0 0);
    background-color: white;
  }
  
  .parent {
    position: relative;
    width: 100%;
    overflow-y: hidden;

  }
  
  .home {
    width: 100%;
    height: 50%; /* Adjust the height as needed */
    position: relative;
    top: 0;
    left: 0;
  }
  
  .tutor {
    position: absolute;
    top: 30px;
    right: -280px; 
    width: 80%; 
    height: auto;
  }

  .typeAnime {
    position: relative;
    top: 5%;
    left:5%;
    width: 100%;
    font-size: 60px;
    font-family: 'Roboto Serif', 'serif';
    font-weight: bold;
    color: #000080;
    text-shadow: 2px 2px #529EFF ;
    
  }

  

  /*Desktop Devices*/
  @media (min-width: 768px) {
      /*arrow down start*/
  .arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 12%;
    color: #000080;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; 
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; 
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; 
  }
   /*arrow down End*/


   .typeAnime {
    position: relative;
    top: 5%;
    left:10%;
    text-shadow: 1px 1px #b7d7ff;
  }

  


}



  /*Mobile Devices*/
  @media (max-width: 768px) {

    .trapezoid {
      height: 40vh; /* Adjust the height as needed */
    }

    .home {
      width: 100%;
      height: 45%;
    }
  
    .tutor {
      position: absolute;
      top: 0px;
      right: -145px; 
      width: 120%; 
      height: auto; 
    }

    .typeAnime {
      position: relative;
      top: 10%;
      left:5%;
      width: 100%;
      color: black;
      font-size: 40px;
      font-family: 'Roboto Serif', 'serif';
      color: #000080;
      text-shadow: 1px 1px #b7d7ff;
    }

    .arrows{
      display: none;
    }
  }
  