.ClassDetails_main_div{
  background-color: #0c2735;
  clip-path: polygon(0 0, 100% 4%, 100% 96%, 0% 100%);
  padding-bottom:110px;
  padding-top: 110px;

}

.ClassDetails_main_div_header{
  color: #fff;
  overflow-y : hidden;
  width: 100%;
}

.icon img{
  width: 5px;
  padding-right: 30px;
}


.ClassDetails_main_div_header::first-letter{
  border-bottom: 3px solid #fff;
}

.ClassDetails_main_div img{
  width: 150%;
  height: 100%;
  background-repeat: repeat;
}


.verticale-timeline-elements-subtitle {
  overflow-y: hidden;
  font-size: 34px;
  font-weight: 700;
}


.vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    background-color: #fff;
    border: none;
    top: 10px;
}

.time {
  margin-left: 5px;
}


.FirstLetterEffect {
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding-bottom: 2px;
}


  .classesTitle {
    overflow-y: hidden;
    color: #fff;
    font-size: 4rem;
    margin-left: 8%;
    top: 18%;
    padding-bottom: 10px;
  }

@media (max-width: 992px) { 
  .vertical-timeline--animate .vertical-timeline-element-icon.bounce-in {
    background-color: #fff;
    border: none;
    top: 10px;
    width: 50px;
    height:50px;
}
.time {
  margin-left: 0px;
}

.ClassDetails_main_div{
  clip-path: polygon(0% 0, 100% 2%, 100% 98%, 0% 100%);
  padding-bottom:80px;
  padding-top: 80px;
}
  .CardContainerTitle {
    color : #fff;
    font-size: 1.1em;
    font-weight: bold;
    text-shadow: 0 0 10px rgba(1, 1, 1, 0.2);
    margin-bottom: 15px;
  }

  .FirstLetterEffect {
  border-bottom: 5px solid rgba(255, 255, 255, 0.6);
  overflow: hidden;
  padding-bottom: 2px;
}


  .classesTitle {
    overflow-y: hidden;
    color: #fff;
    font-size: 2.2rem;
    margin-left: 8%;
    top: 18%;
    padding-bottom: 10px;
  }


}

@media only screen and (min-width: 993px) and (max-width: 1169px) {
.time {
  margin-left: -5px;
}
}